{% extends "template.html" %}
{% load bootstrap3 %}
{% block header %}
    <h1>{{ title }}</h1>
    <a href="{% url 'finances:account' number=account_number %}">
        <button id="" class="btn btn-primary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Return to the account page
        </button>
    </a>
{% endblock %}
{% block content %}
    <div id="stats_table_div">
        {% ifnotequal data.items|length 0 %}
            <table class="container">
                {% for k,v in data.items %}
                <tr>
                    <th>{{ k }}</th>
                </tr>
                {% for key, value in v.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <h2>You don't have any charge so we can't show statistics.</h2>
        {% endifnotequal %}
    </div>
{% endblock %}
